* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  height: 1700px;
  width: 1440px;
  background-color: #e8e8e8;
}
.block {
  margin: 0px 0px 0px 291px;
}
.list li:last-child {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #273d46;
  margin-bottom: 81px;
}
.list li:first-child {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-decoration: line-through;
  color: #273d46;
}
.list li:nth-child(2) {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #273d46;
}
.list li:nth-child(3) {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  font-style: italic;
  color: #273d46;
}

.list2 li {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #273d46;
}
.list2 li:nth-child(2):hover {
  color: red;
  background: url("../img/check_icon_95.png") left 10px no-repeat;
}
.textbutton {
  width: 199px;
  height: 44px;
  margin: 100px 926px 85px 315px;
  box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);

  background: url("../img/strelka.png") 151px 15px no-repeat;
  background-color: #80b7b3;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  border-radius: 25px;
}
.textbutton p {
  margin: 2px 30px 2px 12px;
}
.textbutton:hover {
  background-color: #3a5856;
  box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
}
.textbutton:active {
  background-color: #818181;
}
.quest {
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
}
.list li {
  background: url("../img/list.png") left 10px no-repeat;
  padding-left: 30px;
}
.list2 li {
  background: url("../img/list.png") left 10px no-repeat;
  padding-left: 30px;
}
.textinput {
  width: 294px;
  height: 52px;
  border: 1px solid #b0b0b0;
  margin: 0px 855px 30px 291px;
}

.textinput:focus {
  width: 294px;
  height: 52px;
  border: 1px solid #7fbed5;
  box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
}
